@page "/EditAccount/{Username}"
@using PresentationTier.Models
@using PresentationTier.Data.UserServices

@inject IUserService userService;
@inject AuthenticationStateProvider stateProvider
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<AuthorizeView Policy="PlayerOrOrganizer">
    <Authorized>

        <h3>Edit Account</h3>
        <EditForm Model="@user" OnValidSubmit="@EditAccountAsync" Context="editForm">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="grid-container-thirds">
                <div>
                    <div class="form-group">
                        Username:<br/>
                        <InputText class="form-field" @bind-Value="user.Username" disabled/>
                    </div>
                    <div class="form-group">
                        Password:<br/>
                        <InputText class="form-field" @bind-Value="user.Password" type="password"/>
                    </div>
                    <div class="form-group">
                        Confirm Password:<br/>
                        <InputText class="form-field" @bind-Value="user.ConfirmPassword" type="password"/>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        First Name:<br/>
                        <InputText class="form-field" @bind-Value="user.FirstName"/>
                    </div>
                    <div class="form-group">
                        Last Name:<br/>
                        <InputText class="form-field" @bind-Value="user.LastName"/>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        Phone number:<br/>
                        <InputText class="form-field" @bind-Value="user.PhoneCountryCode" style="width: 50px"/><InputText class="form-field" @bind-Value="user.PhoneNumber"/>
                    </div>
                    <div class="form-group">
                        Email:<br/>
                        <InputText class="form-field" @bind-Value="user.EmailAddress"/>
                    </div>
                </div>
            </div>

            <p class="actions">
                <button class="button simple-button" type="submit">Save</button>
            </p>

        </EditForm>

    </Authorized>
    <NotAuthorized>
        @{
            NavigateHome();
        }
        ;
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public string Username { get; set; }

    private User user = new();

    protected override async Task OnInitializedAsync()
    {
        user = await userService.GetUserByUsernameAsync(Username);
        user.ConfirmPassword = user.Password;
    }

    private async Task EditAccountAsync()
    {
        await userService.EditAccountAsync(user);
        navigationManager.NavigateTo("/ManageAccount");
    }

    private void NavigateHome()
    {
        navigationManager.NavigateTo("/");
    }

}