@page "/EditGame/{Id:int}"
@using Microsoft.AspNetCore.Components
@using PresentationTier.Data.GameServices.Games
@using PresentationTier.Models

@inject NavigationManager navigationManager
@inject IGameService gameService

<h2>Edit Game</h2>
<EditForm Model="@game" OnValidSubmit="@EditGameAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="grid-container-fifty-fifty">
        <div>
            <div class="form-group">
                Name:<br/>
                <InputText class="form-field" @bind-Value="game.Name"/>
            </div>
            <div class="form-group">
                Complexity:
                <InputNumber class="form-field" @bind-Value="game.Complexity" style="width: 50px"/>
            </div>
            <div class="form-group">
                Estimated time:
                <InputNumber class="form-field" @bind-Value="game.TimeEstimation" style="width: 50px"/>
            </div>
            <div class="form-group">
                Player amount:<br/>
                Min: <InputNumber class="form-field" @bind-Value="game.MinNumberOfPlayers" style="width: 50px"/>
                Max: <InputNumber class="form-field" @bind-Value="game.MaxNumberOfPlayers" style="width: 50px"/>
            </div>
            <div class="form-group">Short Description:<br/>
                <InputTextArea class="input-text-area" @bind-Value="game.ShortDescription" style="width: 250px"/>
            </div>
        </div>
        <div>
            <div class="form-group">
                Needed equipment:<br/>
                <InputTextArea class="input-text-area" @bind-Value="game.NeededEquipment" style="width: 250px"/>
            </div>
            <div class="form-group">
                Age range:<br/>
                Min: <InputNumber class="form-field" @bind-Value="game.MinAge" style="width: 50px"/>
                Max: <InputNumber class="form-field" @bind-Value="game.MaxAge" style="width: 50px"/>
            </div>
            <div class="form-group">
                Tutorial:<br/> 
                <InputText class="form-field" @bind-Value="game.Tutorial" style="width: 250px"/>
            </div>
        </div>
    </div>
    <p class="actions">
      <button type="submit" class="button simple-button">Save</button>
  </p>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    
    private Game game = new();
    
    protected override async Task OnInitializedAsync()
    {
        game = await gameService.GetGameAsync(Id);
    }
    
    private async Task EditGameAsync()
    {
        await gameService.EditGameAsync(game);
        navigationManager.NavigateTo("GGL");
    } 
}