@page "/GameList"

@using PresentationTier.Data
@using PresentationTier.Authentication
@using PresentationTier.Models
@using System.Security.Claims
@using PresentationTier.Data.GameServices
@using PresentationTier.Data.GameServices.GameLists

@inject IGameListService gameListService
@inject AuthenticationStateProvider stateProvider
@inject NavigationManager navigationManager

<h2>Game List</h2>
<div class="grid-container-fifty-fifty">
    <div>
        <ul>
            @foreach (var game in games)
            {
                <li>
                    <p @onclick="@(() => MoreGameInfo(game.Id))"><a href="#" >@game.Name</a></p>
                </li>
            }
        </ul>
    </div>
    
    <div>
        <button @onclick="@Edit" class="button simple-button" type="submit">
            <i class="oi oi-plus"></i> Edit
        </button>
    </div>
    
</div>


@code {
    private IList<Game> games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        var username = ((CustomAuthenticationStateProvider) stateProvider).GetAuthenticationStateAsync().Result.User.FindFirst(claim => claim.Type.Equals(ClaimTypes.Name))?.Value;
        games = await gameListService.GetUserGamesAsync(username);
    }
    
    private void Edit()
    {
        navigationManager.NavigateTo("EditGameList");
    }
    
    private void MoreGameInfo(int id)
    {
        navigationManager.NavigateTo($"GameInfo/{id}");
    }
}