@page "/"

@using PresentationTier.Data
@using PresentationTier.Data.GameServices
@using PresentationTier.Data.GameServices.Games

@inject NavigationManager navigationManager
@inject IGameService gameService

<h1>BOOK & PLAY</h1>
<p style="margin: 4em 0 0 0">Welcome to application Book & Play! </p>
<p>Log in or create an account to participate in events, create your own and have fun!</p>
