@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --yellow-color:#AC8E02;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/*the following code is take from 
https://medium.com/@kajepratik/how-to-display-loading-indicator-while-blazor-component-is-loading-353417d067d0*/

.spinner{
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*---------------------------------------------------*/


/*GENERAL*/
li{
    list-style: none;
}
*{
    background-color: #18062E;
    color: white;
}

/*LINKS*/
.main a{
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.main a::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--yellow-color);
    transition: 0.5s;
    /*border-bottom: 2px solid white;
    transition: width 0.5s;*/
}
.main a:hover::after{
    width: 100%;
}


/*HEADINGS*/
h1, h2{
    font-family: Didot, serif;
    margin-bottom: 1em;
}
h1, h2, h3{
    color: var(--yellow-color);
}
h3, h4{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}


/*GRID*/
.grid-container-payment{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-container-fifty-fifty{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1.5px solid var(--yellow-color);
    padding: 1rem;
}
#payment_overview{
    display: grid;
    grid-template-columns: 1fr 10fr;
    width: 20em;
}


/*BUTTONS*/
.simple-button{
    border: 1px solid white;
    padding: 0.7em;
    margin: 1em;
    font-variant: small-caps;
}
.simple-button:hover{
    border: 1px solid var(--yellow-color);
    color: var(--yellow-color);
    transition: 0.5s;
}


/*FORM*/
.form-field{
    border: none;
    border-bottom: 2px solid white;
    outline: 0;
}
.grid-container-payment .form-field, .grid-container-payment label{
    padding: 0.5em;
}