@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --yellow-color:#AC8E02;
    --violet-color:#18062E;
    --dark-violet-color: #0e041c;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 1.1rem;
    
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/*the following code is take from 
https://medium.com/@kajepratik/how-to-display-loading-indicator-while-blazor-component-is-loading-353417d067d0*/

.spinner{
    border: 16px solid silver;
    border-top: 16px solid var(--yellow-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*---------------------------------------------------*/


/*GENERAL*/
li{
    list-style: none;
}
*{
    background-color: var(--violet-color);
    color: white;
}
::selection{
    color: white;
    background-color: var(--yellow-color);
}
::-moz-selection{
    color: white;
    background-color: var(--yellow-color);
}

    /*LINKS*/
.main a{
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.main a::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--yellow-color);
    transition: 0.5s;
    /*border-bottom: 2px solid white;
    transition: width 0.5s;*/
}
.main a:hover::after{
    width: 100%;
}


/*HEADINGS*/
h1, h2{
    font-family: Didot, serif;
    margin-bottom: 1em;
}
h1, h2, h3{
    color: var(--yellow-color);
}
h3, h4{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-variant: small-caps;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}


/*GRID*/
.grid-container-payment{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-container-fifty-fifty{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1.5px solid var(--yellow-color);
    padding: 1rem;
}
.grid-container-thirds{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1.5px solid var(--yellow-color);
    padding: 1rem;
}
#payment_overview{
    display: grid;
    grid-template-columns: 1fr 10fr;
    width: 20em;
}
.remove-line-above{
    border-top: none;
}


/*BUTTONS*/
.button{
    padding: 0.7em;
    margin: 1em;
    font-variant: small-caps;
    border: 1px solid var(--yellow-color);
}
.button:hover{
    transition: 0.5s;
}
.button:active{
    
}
.simple-button:hover{
    color: var(--yellow-color);
}
.delete-button{
    border: 1px solid red;
}
.delete-button:hover{
    color: red;
}
.button:hover .oi, .button:hover span{
    color: var(--yellow-color);
    transition: 0.5s;
}

/*FORM*/
.form-field{
    border: none;
    border-bottom: 2px solid white;
    outline: 0;
    margin-bottom: 1em;
    border-radius: 0;
    width: 90%;
}
.grid-container-payment .form-field, .grid-container-payment label{
    padding: 0.5em;
}
.input-text-area{
    border: 1px solid white;
}


/*CARDS*/
.card{
    border: 1px solid white;
    border-radius: 0;
    background: none;
}
.card:hover{
    border: 1px solid var(--yellow-color);
    cursor: pointer;
    transition: 0.5s;
}
.card:hover h5{
    color: var(--yellow-color);
    transition: 0.5s;
}


/*TOP ROW*/
.top-row{
    background-color: var(--violet-color) !important;
    height: 5em !important;
} 

/*LOGIN*/
.modal{
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-content{
    border: 1.5px white solid;
}
.modal-header, .modal-footer, .modal-content{
    border-radius: 0;
}
#username-top-row{
    font-variant: small-caps;
    color: var(--yellow-color);
    font-size: 1.7em;
}


/*TABLE*/
.table{
    border-top: none;
    margin-top: 2em;
}
tbody tr td:first-child {
    width: 3em;
    min-width: 3em;
    max-width: 3em;
    word-break: break-all;
}
th{
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.3em;
}
.table tbody tr:hover td{
    background-color: var(--dark-violet-color);
}

/*Checkbox styling borrowed from:
https://moderncss.dev/pure-css-custom-checkbox-style/*/
/*CHECKBOX*/
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    /*border-radius: 0.15em;*/
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--violet-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}