@using SEP3_Blazor.Data
@*@using AuthenticationStateProvider = SEP3_Blazor.Data.AuthenticationStateProvider

@inject AuthenticationStateProvider AuthenticationStateProvider
*@
@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark">
<a class="navbar-brand" href="">SEP3-Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="oi oi-plus" aria-hidden="true"></span> Golden Game List
            </NavLink>
        </li>
    <AuthorizeView Policy="AdminOnly">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-plus" aria-hidden="true"></span> Game
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Policy="LoggedInOnly">
                <li @onclick="PerformLogout" class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
    </div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    private string UserName;
    private string Password;
    private string errorMessage;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    public async Task PerformLogout()
    {
        errorMessage = "";
        UserName = "";
        Password = "";
        try
        {
            //((AAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            //NavigationManager.NavigateTo("/");
        }
        catch (Exception ){}
    }

}