@page "/GameList"
<h3>GameList</h3>
@inject NavigationManager NavigationManager
<button @onclick="@AddGameAsync" class="btn btn-outline-secondary" type="submit">
                <i class="oi oi-plus"></i> Add
        </button>

@code {
    private async Task AddGameAsync()
    {
        NavigationManager.NavigateTo("CreateGameAdmin");
    }
}