@page "/GGL"

@using Presentation_Layer.Models
@using Presentation_Layer.Data

@inject NavigationManager navigationManager
@inject IGameService gameService

<h3>GGL</h3>
<p class="actions">
        <button @onclick="@AddGame" class="btn btn-outline-secondary" type="submit">
                <i class="oi oi-plus"></i> Add
        </button>
</p>
 @foreach (var item in goldenGameList)
         {
                 if (item.Approved )
                 {
                         <ul>
                                 <li @onclick="@(() => EditGame(item.Id))"><a href="#">@item.Name</a></li>
                         </ul>
                 }
         }
 

@code {
        private IList<Game> goldenGameList = new List<Game>();

        protected override async Task OnInitializedAsync()
        {
                goldenGameList = await gameService.GetGGLAsync();
        }

        private void AddGame()
        {
                navigationManager.NavigateTo("CreateGame");
        }
        
        private void EditGame(int id)
        {
                navigationManager.NavigateTo($"EditGame/{id}");
        }
}