@page "/MyEvents"
@inject NavigationManager NavigationManager
<h3>My Events</h3>

<AuthorizeView Policy="Organizer">
    <p class="actions">
        <button @onclick="@CreateEventAsync" class="btn btn-outline-secondary" type="submit"><i class="oi oi-plus"></i> Create</button>
    </p>
</AuthorizeView>

@code {
    private async Task CreateEventAsync()
    {
        NavigationManager.NavigateTo($"CreateEvent");
    }
    
}