@page "/MyEvents"
@inject NavigationManager NavigationManager
<h3>MyEvents</h3>

<p class="actions">
    <button @onclick="@(() => CreateEventAsync())" class="btn btn-success" type="submit">
        <i class="oi oi-plus"></i> Create
    </button>
</p>

@code {
    private async Task CreateEventAsync()
    {
        NavigationManager.NavigateTo($"CreateEvent");
    }
    
}