@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <!--<Login/>-->
            <a href="/Login">Login</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        NavigationManager.NavigateTo("/");
    }

}