@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@using LoginComponent

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <Login/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code{
    /*protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Console.WriteLine("here");
        NavigationManager.NavigateTo("/GGL");
        Console.WriteLine("here again");
    }
    */
}